
.topic{
    margin: top 10rem;
    padding-top: 1rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
}

.cards {
    margin: auto;
    margin-top: 5rem;
    margin-left: 30rem;
    max-width: 1000px;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(275px,3fr));
    grid-auto-rows: auto;
    gap: 80px;
    font-family: sans-serif;
    padding-top: 5px;
    width: 100%;
    

}

.cards * {
    box-sizing: border-box;
    width: 110%;
    gap: 50px;

    
}

.card__image {
    width: 110%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-top: 2px solid #fcf6f6;
    border-right: 2px solid #fcf9f9;
    border-left: 2px solid #cac6c6;
}

.card__content {
    
    line-height: 1.5;
    font-size: 0.9em;
    padding: 25px;
    background: #fcf6f6;
    border-right: 2px solid #fafafa;
    border-left: 2px solid #ffffff;
    text-align: center;
}

.card__content  .p:first-of-type {
    margin: top 20px;
    text-align: center;
}

.card__content > .p:last-of-type {
    margin-bottom: 0;
}
.card__content .h4:first-of-type {
    text-align: center;

}

.card__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f7f5f5;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid #fafafa;
    border-right: 2px solid #fffcfc;
    border-left: 2px solid #fcf6f6;
}

.card__info i {
    font-size: 0.9em;
    margin-right: 8px;
}

.card__link {
    color: #976f17;
    text-decoration: none;
    text-align: center;
    font-weight: 200;
    font-size: larger;
}

.card__link:hover {
    text-decoration: underline;
}
.view{
    text-align: center;
    margin-left: 25rem;
}
.details{
    text-align: center;
}